@model StreamFaction.Models.BanTypes

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>BanTypes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bant_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bant_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bant_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bant_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bant_create_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bant_create_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bant_modif_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bant_modif_date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.bant_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
