@model StreamFaction.Models.Channels

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Channels</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cha_usr_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cha_usr_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cha_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cha_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cha_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cha_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cha_facebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cha_facebook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cha_twitter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cha_twitter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cha_instagram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cha_instagram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cha_discord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cha_discord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cha_create_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cha_create_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cha_modif_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cha_modif_date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.cha_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
