@model IEnumerable<StreamFaction.Models.UserInfos>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usrif_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usrif_name_visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usrif_surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usrif_surname_visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usrif_avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usrif_BDdate_visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usrif_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usrif_BDdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usrif_create_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usrif_modif_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usrif_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usrif_name_visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usrif_surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usrif_surname_visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usrif_avatar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usrif_BDdate_visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usrif_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usrif_BDdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usrif_create_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usrif_modif_date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.usrif_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.usrif_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.usrif_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
