@model IEnumerable<StreamFaction.Models.Status>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sta_logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sta_create_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sta_modif_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sta_logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sta_create_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sta_modif_date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.sta_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.sta_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.sta_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
